.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6)
  }

  .modal-btn {
    width: 100%;
  }
  
  .modal-main {
    position:fixed;
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    width: auto;
    padding: 60px;
    background-color: black;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin: auto;
 
    
  }  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }