.list-unstyled {
    text-align: center;
    margin-top: 50px;
    border: 1px solid rgb(18, 19, 18);
    padding: 20px;
    box-shadow: 3px 3px 7px rgb(29, 221, 228);
    
}

.skills-box {
    margin-top: 100px;
   
}

#skills-hash {
    font-size: 20px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 4px;
    text-align: center;
}

h4 {
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.skills-title {
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 10px;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}