.html, .css{
    width: 100%;
}
.js{
    width: 100%;
}
.rc {
    width: 100%;
}
.progress {
    height: 20px;
}

.ph {
    width: 100%;
}

.skills-box {
    margin-top: 150px;
   

}

#skills-hash {
    font-size: 15px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 4px;
}

h4 {
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.skills-title {
    color: white;
    text-align: center;
    letter-spacing: 10px;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}